@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-app), system-ui, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", sans-serif;
  background-color: theme("colors.slate.50");
  color: theme("colors.slate.900");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
